  <div id="map-canvas"></div>

  <div class="canvas_wrapper">
    <div class="nav_wrapper">
          <img id="profile_pic" src="<%=@user.profile_picture%>"/>
      <nav>
          <input id="news_feed" type="button" value="News Feed"/>
          <input id="center" type="button" value="Current Location"/>
          <a id="logout" href="https://instagram.com/accounts/logout/">
            <input type="button" value="Logout"/>
          </a>
      </nav>
    </div>
  </div>
